---
layout: page
title: "About"
description: "Who we are?"
header-img: "img/home-bg.jpg"
---

<p>The <b>Collective Learning and Intelligence Group (CLIGr)</b> is an informal, interdisciplinary research group at the University of Minnesota. We share an interest in advancing learning that is collaborative, connected, and collective. To this end, we design innovative digital learning environments, develop learning analytics applications, and conduct collaborative research in various learning contexts. We also host a regular CLIGr Reading Group.</p>

<p>PS: Many of us adore <a href="https://www.r-project.org/">R</a> and that's how the little 'r' sneaked into the group name.</p>

<hr class="small">

{% for member in site.data.members %} {% if member.visible == true %}

	<img src="{{ member.img }}" style="margin-top:0px; margin-bottom:5px; margin-right:10px; float:left; width:150px !important">

	<h1>{{ member.name }}</h1>

	<h2>{{ member.role }}</h2>

	{% if member.twitter %}
	<span class="social-share-twitter"><a href="https://twitter.com/{{ member.twitter }}" title="Twitter"><img src="{{ "/img/icons/twitter-icon.png" | prepend: site.baseurl }}" style="height:20px">Twitter</a></span>
	{% endif %}
	{% if member.github %}
	<span class="social-share-googleplus"><a href="https://github.com/{{ member.github }}" title="Github"><img src="{{ "/img/icons/github-icon.png" | prepend: site.baseurl }}" style="height:20px">Github</a></span>
	{% endif %}
	{% if member.gplus %}
	<span class="social-share-googleplus"><a href="{{ member.gplus }}" title="Google Plus"><img src="{{ "/img/icons/gplus-icon.png" | prepend: site.baseurl }}" style="height:20px">Google Plus</a></span>
	{% endif %}
	{% if member.url %}
	<span class="social-share-googleplus"><a href="{{ member.url }}" title="Google Plus"><img src="{{ "/img/icons/url-icon.png"| prepend: site.baseurl }}" style="height:20px">Website</a></span>
	{% endif %}

	</br>

	{% if member.bio %}
	{{ member.bio }}
	{% endif %}

	<hr>

{% endif %}{% endfor %}
